<!--The content below is only a placeholder and can be replaced.-->

<h3 style="color:darkcyan">Piedra - papel - tijera: </h3>


<div class="container">
  <ul class="list-inline">
    <li><a href="#" routerLink="/initgame" routerLinkActive="active">Init</a></li>
    <li><a href="#" routerLink="/round1" routerLinkActive="active">Round 1</a></li>
  </ul>
</div>

<!--<nav>-->
  <!--<a routerLink="/initgame" routerLinkActive="active">Init</a>-->

  <!--<a routerLink="/round1" routerLinkActive="active">Round1</a>-->
<!--</nav>-->
<router-outlet></router-outlet>
